#menu-about {
    border-bottom: 2px solid var(--maincolor);
    background: #fffab5;
}

#title {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 150px;
}

#titleboxes {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0; 
    right: 0;
}
#box, #box2 {
    width: 400px;
    height: 400px;
    border: 15px solid var(--second);
    margin-top: 100px;
    z-index: -1;
}

#box2 {
    margin-top: 0px;
}

#titleimage {
    width: 700px;
    height: 400px;
    object-fit: cover;
    margin-top: 60px;
    z-index: 5;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

#titletext {
    position: absolute;
    left: 0;
    right: 0;
    top: 290px;
    font-family: "Poppins";
    font-weight: 700;
    color: white;
    font-size: 45px;
}

#timeline {
    margin-top: 100px;
}

#timelineheader {
    text-align: center;
    width: 325px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
    font-size: 30px;
    font-family:"Poppins";
    font-weight: 700;
    border-bottom: 5px solid var(--third);
    margin-bottom: 75px;
}

.timelinebox {
    margin-top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timelineyear-left {
    font-size: 35px;
    font-family: "Poppins";
    font-weight: 700;
    border-right: 10px solid var(--maincolor);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 300px;
    padding-right: 50px;
    text-align: right;
}

.timelineyear-right {
    font-size: 35px;
    font-family: "Poppins";
    font-weight: 700;
    border-left: 10px solid var(--maincolor);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 300px;
    padding-left: 50px;
    text-align: left;
}

.timelineinfo-left {
    width: 245px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-left: 25px;
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 600;
    transition: 0.2s;
    background: white;
}


.timelineinfo-right {
    width: 260px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    padding-left: 40px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-right: 25px;
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 600;
    transition: 0.2s;
    background: white;
}

.timelineinfo-left:hover, .timelineinfo-right:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 1024px) {
    #title {
        width: 110vw;
    }
    #titleimage {
        width: 110vw;
        height: 1000px;
        margin-top: 0px;
        border-radius: 60px;
    }
    #titletext {
        font-size: 100px;
        width: 110vw;
        margin-top: 215px;
    }

    #timeline {
        margin-top: 200px;
    }
    
    #timelineheader {
        font-size: 60px;
        width: 110vw;
        border: none;
    }
    
    .timelinebox {
        width: 110vw;
        margin-top: -40px;
    }
    
    .timelineyear-left {
        font-size: 100px;
        width: 300px;
    }
    
    .timelineyear-right {
        font-size: 100px;
        width: 300px;
    }
    
    .timelineinfo-left {
        width: 500px;
        font-size: 35px;
    }
    
    .timelineinfo-right {
        width: 500px;
        font-size: 35px;
    }
}
