#box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    height: 500px;
    width: 1000px;
    background: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#left, #right {
    height: 350px;
    width: 500px;
}
#left {
    width: 400px;
    padding-left: 100px;
    padding-top: 50px;
    border-right: 3px solid var(--fourth);
}

#right {
    text-align: center;
    padding-top: 0px;
}
#rightright {
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    width: 350px;
}
#righttitle {
    font-family: "Poppins";
    color: var(--maincolor);
    font-size: 25px;
    font-weight: 700;
}

#lefttitle {
    font-family: "Poppins";
    color: var(--maincolor);
    font-size: 35px;
    font-weight: 700;
}

#labeled{
    font-family: "Poppins";
    color: lack;
    font-size: 20px;
    font-weight: 600;
}
#username, #pass {
    margin-top: 20px;
    margin-left: 10px;
    border: 3px solid var(--maincolor);
    width: 200px;
    height: 20px;
    outline: none;
    font-family: "Poppins";
    font-size: 17px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
#error {
    font-family: "Poppins";
    font-size: 14px;
    color: transparent;
    user-select: none;
}
.login {
    margin-top: 0px;
    background: var(--third);
    width: 120px;
    height: 50px;
    outline: none;
    font-family: "Poppins";
    color: white;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    font-size: 17px;
    transition: 0.2s;
}
.login:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#note {
    font-size: 13px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Poppins";
    color: black;
    font-weight: 600;
}
#copyright1 {
    font-family: "Poppins";
    font-size: 17px;
    font-weight: 700;
    text-align: left;
    color: var(--third);
}

@media only screen and (max-width: 1024px) {
    #box {
        margin-top: 300px;
        width: 110vw;
        display: block;
        height: 1500px;
    }
    #left {
        width: 0;
        height: 0;
        border: none;
    }
    #lefttitle {
        opacity: 0;
        font-size: 0;
    }
    #copyright {
        opacity: 0;
        font-size: 0;
    }
    #right {
        width: 100%;
    }
    #righttitle {
        font-size: 65px;
    }
    #rightright {
        width: 100%;
        text-align: center;
    }
    #labeled {
        font-size: 45px;
        width: 1000px;
        
    }
    #username, #pass {
        width: 800px;
        height: 100px;
        font-size: 40px;
        padding-left: 50px;
        border: 7px solid var(--maincolor);
    }
    .login {
        width: 350px;
        font-size: 50px;
        height: 150px;
    }
    #error {
        font-size: 40px;
    }
    #note {
        font-size: 40px;
        width: 80%;
    }
}

