#menu-references {
    border-bottom: 2px solid var(--maincolor);
    background-color: #fff1c6;
}

#title {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 150px;
}

#titleboxes {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0; 
    right: 0;
}
#box, #box2 {
    width: 400px;
    height: 400px;
    border: 15px solid var(--maincolor);
    margin-top: 100px;
    z-index: -1;
}
#box2 {
    margin-top: 0px;
}

#titleimage {
    width: 700px;
    height: 400px;
    object-fit: cover;
    margin-top: 60px;
    z-index: 5;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

#titletext {
    position: absolute;
    left: 0;
    right: 0;
    top: 290px;
    font-family: "Poppins";
    font-weight: 700;
    color: white;
    font-size: 45px;
}

#references {
    width: 600px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    background: white;
}

#titles {
    font-size: 20px;
    font-family: "Poppins";
    color: var(--maincolor);
    font-weight: 700;
    padding-bottom: 5px;
}

#link {
    font-family: "Poppins";
    text-decoration: none;
    color: #4a86e8;
    padding-bottom: 5px;
    border-bottom: 3px solid white;
    transition: 0.25s;
    font-size: 16px;
    font-weight: 600;
}
#link:hover {
    border-bottom: 2px solid #4a86e8;
}

#text {
    margin-top: 50px;
    font-family: "Poppins";
    font-size: 15px;
}

@media only screen and (max-width: 1024px) {
    #title {
        width: 110vw;
    }
    #titleimage {
        width: 110vw;
        height: 1000px;
        margin-top: 0px;
        border-radius: 60px;
    }
    #titletext {
        font-size: 100px;
        width: 110vw;
        margin-top: 215px;
    }

    #references {
        width: 101vw;
        height: 2200px;
    }
    #titles {
        font-size: 55px;
    }
    #link {
        font-size: 40px;
    }
    #text {
        font-size: 45px;
    }
}
