@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');


:root {
    --maincolor: #f1c232;
}

body {
    background: rgb(239, 243, 248);
    padding: 0; 
    margin: 0;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: whitesmoke;
}
::-webkit-scrollbar-thumb {
    background: var(--maincolor);
}

#menu {
    background: rgb(255, 255, 255);
    position: fixed;
    display: flex;
    z-index: 200;
    overflow-y: hidden;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    height: 65px;
    width: 100%;
    padding-left: 40px;
    align-items: center;
    top: 0;
}
#menucontent {
    display: flex;
    align-items: center;
}

#menu-name {
    color: var(--maincolor);
    font-family: "Poppins";
    font-size: 25px;
    cursor: default;
    font-weight: 700;
}

#menu-home, #menu-about, #menu-winners, #menu-gallery, #menu-participate, #menu-contact, #menu-references {
    margin-left: 10px;
    text-decoration: none;
    background: rgb(255, 255, 255);
    cursor: pointer;
    color: black;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 17px;
    border: 2px solid transparent;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.25s;
}

#menu-home:hover, #menu-about:hover, #menu-winners:hover, #menu-gallery:hover, #menu-participate:hover, #menu-references:hover, #menu-contact:hover {
    border-bottom: 2px solid var(--maincolor);
    background-color: #fff1c6;
}

#menu-home {
    margin-left: 75px;
}

#menubutton {
    background-image: url("./images/menu.png");
    background-repeat: none;
    background-size: contain;
    width: 0px;
    height: 0px;
    filter: opacity(0%);
}

#backtop {
    position: fixed;
    bottom: 50px;
    right: 20px;
    outline: none;
    border: none;
    background-color: var(--maincolor);
    font-family: "Poppins";
    font-size: 20px;
    color: white;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    height: 100px;
    padding-bottom: 15px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    border-radius: 20px;
    z-index: 10000;
    font-weight: 700;
}
#backtop:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}
#toparrow {
    margin-bottom: -10px;
    margin-top: 0px;
    font-size: 30px;
    font-family: "Poppins";
    transform: rotateZ(90deg);
}

#contact {
    margin-top: 75px;
    width: 100%;
    height: 290px; 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: rgb(255, 255, 255);
}

.infosection {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infobox {
    width: 600px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    padding-left: 60px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
    border-radius: 20px;    
    background: rgb(255, 255, 255);
}

.infoheader {
    font-family: "Poppins";
    font-size: 25px;
    font-weight: 700;
    color: var(--maincolor);
    border-bottom: 4px solid var(--maincolor);
    width: 250px;
    padding-bottom: 10px;
}

.yellowline {
    width: 40px;
    background: var(--maincolor);
    color: var(--maincolor);
    height: 15px;
}

.infotext {
    font-family: "Montserrat";
    line-height: 30px;
    font-size: 15px;
}

.infoimage {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    transition: 0.2s;
}
.infoimage:hover {
    transform: scale(1.15);
}

.infolink {
    font-family: "Poppins";
    text-decoration: none;
    color: #4a86e8;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
    transition: 0.25s;
}
.infolink:hover {
    border-bottom: 2px solid #4a86e8;
}

.contactheader {
    font-family: "Poppins";
    font-size: 25px;
    font-weight: 700;
    color: var(--maincolor);
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 4px solid var(--maincolor);
    width: 700px;

    margin-left: auto;
    margin-right: auto;
}

.contactdetails {
    padding-top: 20px;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
    text-align: center;
}

.contactdetail {
    margin-left: 100px;
}

.contactimage {
    width: 100px;
}
.contactimagesmall {
    width: 75px;
}

.contacttext {
    font-family: "Montserrat";
    font-size: 15px;
}

@media only screen and (max-width: 1024px) {
    #menu {
        height: 200px;
        width: 110vw;
        display: block;
        transition: 0.3s;
        overflow: hidden;
    }
    #menucontent {
        display: flex;
    }
    #menubutton {
        filter: opacity(100%);
        right: 0;
        width: 90px;
        height: 90px;
        margin-left: 40vw;
        cursor: pointer;
        border: none;
        outline: none;
    }

    #menu-name {
        font-size: 60px;
        padding-left: 50px;
    }
    #tabs {
        display: block;
        text-align: center;
        width: 105vw;
        position: absolute;
    }
    #tabs a, #menu-contact {
        display: inline-block;
        font-size: 40px;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 30px;

    }
    #menu-contact {
        width: 634px;
    }

    #backtop {
        font-size: 55px;
        right: 20px;
        height: 200px;
    }
    #toparrow {
        font-size: 55px;
    }

    .infosection {
        display: block;
    }
    .yellowline {
        width: 110vw;
    }
    .infobox {
        width: 100vw;
        border-radius: 60px;
        padding-bottom: 75px;
    }
    .infoheader {
        width: 100vw;
        text-align: center;
        font-size: 50px;
        border-bottom: none;
    }
    .infotext {
        line-height: 60px;
        margin-bottom: 50px;
    }
    .infoimage {
        width: 110vw;
        height: 800px;
        border-radius: 60px;
    } 
    .infoimage:hover {
        transform: scale(1);
    }
    #contact {
        height: 1700px;
        width: 110vw;
        padding-top: 50px;
        border-radius: 60px;
    }
    .contactdetails {
        display: block;
        margin-top: -100px;
    }
    .contactheader {
        font-size: 55px;
    }
    .contactdetail {
        margin-left: 0;
        margin-top: 150px;
    }
    .contactimage {
        width: 200px;
    }
    .contacttext {
        font-size: 37px;
    }
    .contactimagesmall {
        width: 175px;
    }

}
